//- nav-links (burger-menu, footer)
mixin nav-links(pages)
  nav.nav
    ul.nav__list
      each page in pages
        li.nav__item
          a.nav__link(href=`${page[1]}`)= `${page[0]}`

//- nav-btns в авторизационной форме
mixin nav-btns (pages)
  ul.nav-btns 
    each page in pages
      li.nav-btns__item
        a(href=`${page[1]}` class='nav-btns__link ' + 'nav-btns__link_' + `${page[2]}`)= `${page[0]}`


//- user (кроме страницы "Блог")
mixin user
  +user-img
  .user__name Владимир Астахов
  .user__title Личный сайт веб-разработчика
  

//- user-image
mixin user-img
  .user__img-block
    img(src="assets/images/content/hero.jpg" alt="Моя фото").user__img

//- socials
mixin socials (className, items)
  ul(class=`${className}__list`)
    each item in items
      li(class=`${className}__item`)
        a(class=`${className}__link` href="#")
          svg(class=`${className}__icon` + ` ${className}__icon_${item}` width="26px" height="26px")
            use(xlink:href="assets/images/icons/sprite.svg#"+ `${item}`) 


//- header
mixin header (classMixin, svgImg, svgWidth, svgHeight)
  header(class='header ' + `header_${classMixin}`)
    div(class="header__links " + `header__links_${classMixin}`)
      .header__socials.socials
        +socials('socials', ["fb", "github", "in"])
      .header__burger-menu
        include ../components/_burger-menu.pug
    if classMixin !== 'blog'
      div(class='header__user-block ' + `header__user-block_${classMixin}`)
        div(class='user ' + `user_${classMixin}`)
          +user
        svg(class='user-info__bg-icon ' + `user-info__bg-icon_${classMixin}` width=`${svgWidth}` height=`${svgHeight}`)
          use(xlink:href="assets/images/icons/sprite.svg#" + `${svgImg}` + "_header")

      .header__arrow-btn
        a.arrow__link(href="#")
          svg.arrow__icon(width="27" height="19")
            use(xlink:href="assets/images/icons/sprite.svg#arrow_down")
    else
      div(class='header__user-block ' + `header__user-block_${classMixin}`)
        div(class='user ' + `user_${classMixin}`)
          +user-img
        svg(class='user-info__bg-icon ' + `user-info__bg-icon_${classMixin}` viewbox="0 0" + ` ${svgWidth}` + ` ${svgHeight}`)
          use(xlink:href="assets/images/icons/sprite.svg#" + `${svgImg}` + "_header")
        div(class='block-title ' + `block-title_${classMixin}`) Блог
        .user__title Статьи, которые я написал
      .header__arrow-btn.header__arrow-btn_blog
        a.arrow__link(href="#")
          svg.arrow__icon(width="27" height="19")
            use(xlink:href="assets/images/icons/sprite.svg#arrow_down")



//- skills circles-row
mixin skills-circles (skills)
  ul.skills-row__list
    each skill in skills
      li.skills-row__item
        .skill-circle
          svg(viewBox="0 0 120 120").skill-circle__svg-img
            circle(r="50" cx="50%" cy="50%").circle.circle_base
            circle(r="50" cx="50%" cy="50%" class='circle' + ' circle_fill ' + `circle-${skill[1]}`)
          span.skill-circle__title= `${skill[0]}`

//- contacts
mixin contacts(classMixin, contactTypes)
  ul(class='contacts ' + `contacts_${classMixin}`)
    each contactType in contactTypes
      if classMixin == 'map'
        li(class='contacts__item ' + `contacts__item_${classMixin}`)
          svg(class=`contacts__icon ` + `contacts__icon_${contactType[0]}` width="26" height="26" )
            use(xlink:href="assets/images/icons/sprite.svg#" + `${contactType[0]}`) 
          //- div(class='contacts__data')= `${contactType[1]}`
          a(href=`${contactType[2]}` class="contacts__link")= `${contactType[1]}`
      else 
        li(class='contacts__item ' + `contacts__item_${classMixin}`)
          div(class='contacts__data')= `${contactType[1]}`

mixin footer(page)
  div(class='footer '+ 'footer_'+`${page}`)
    .footer__top
      .footer__col.footer__col_left
        .footer__copyright-block Этот сайт я сделалa в рамках обучения в Школе онлайн образования LoftSchool.
      .footer__col.footer__col_center
        .footer__nav-block
          +nav-links([['Мои работы', 'my-works.html'], ['Обо мне', 'about.html'], ['Блог', 'blog.html'], ['Авторизация', 'index.html']])
        .footer__socials-block
          +socials('socials', ["fb", "github", "in"])
      .footer__col.footer__col_right
        .footer__cite-block
          blockquote.footer__cite-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
          cite.footer__cite-author — Martin Golding
    .footer__bottom
      .copyright
        p.copyright__item &copy; Ирина Лыпник
        p.copyright__item создано с &#10084; в LoftSchool | 2017

