//- hero-image
mixin hero-img
  .hero__img-block
    .hero__img

//- блок с фото, ФИО и о чем сайт (кроме страницы "Блог")
mixin hero(name)
  +hero-img
  .hero__name= `${name[0]}`
  .hero__title= `${name[1]}`

//- кнопки для перехода по страницам в формах
mixin nav-btns (pages)
  ul.nav-btns
    each page in pages
      li.nav-btns__item
        a(href=`${page[1]}`).nav-btns__link= `${page[0]}`


//- социальные иконки (items = массив из названий соцсетей, e.g.[['Facebook', 'fb'], ['GitHub', 'github']
mixin socials (className, items)
  ul(class=`${className}__list`)
    each item in items
      li(class=`${className}__item`)
        a(class=`${className}__link` href="#")= `${item[0]}`
          svg(class=`${className}__icon` + ` ${className}__icon_${item[1]}` width="26px" height="26px")
            use(xlink:href="assets/images/icons/sprite.svg#"+ `${item[1]}`)